<form method="POST" action="/auth/login">
  <input type="text" name="name" placeholder="name" />

  <input type="password" name="key" placeholder="key" />

  <button type="submit">Login</button>
</form>
