<!-- /**
 * @file footer.ejs
 * @author Trương Ngọc Trân - CE180829
 * @date 9/2/2026
 * @description Định nghĩa footer cho trang web
 */ -->

<hr/>

<footer style="padding:10px; text-align:center">
    <p>© 2026 – SDN302 – Assignment 2</p>
</footer>

</body>
</html>