<!DOCTYPE html>
<html>
<head>
    <title>Ratings for <!-- TODO: display media title here --></title>
</head>
<body>
    <h1>RATINGS FOR: <!-- TODO: display media title here --></h1>

    <ul>
        <!-- TODO: Loop through the list of ratings and display each rating’s information -->
        <!-- For each rating, display:
            - Username (from rating.userId, if available)
            - Score (rating.score)
            - Comment (rating.comment)
            - Created Date (rating.createdAt) in a readable format
        -->
    </ul>

    <!-- TODO: If the ratings list is empty, display a message like:
         "There are no ratings for this media yet." -->

    <!-- Link to go back to the media list -->
    <a href="/media">Back to Media List</a>
</body>
</html>