<!DOCTYPE html>
<html>
  <head>
    <title>Note App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main><%- body %></main>
    <%- include('partials/footer') %>
  </body>
</html>
